<form [formGroup]="registerFormGroup">
  <h1>Register</h1>
  <label>Full Name</label>
  <input formControlName="fullName" type="text" placeholder="Full name" />
  <label>E-mail</label>
  <input formControlName="email" type="text" placeholder="E-mail" />
  <label>User name</label>
  <input formControlName="username" type="text" placeholder="Username" />
  <label>Password</label>
  <input formControlName="password" type="password" placeholder="Password" />
  <label>Confirm Password</label>
  <input
    formControlName="confirmPassword"
    type="password"
    placeholder="confirmPassword"
  />
  <button (click)="registerClicked()">Register</button>
</form>
