

label,
.la-edit{
  cursor: pointer;
}

form {
  width: 300px;
  gap: 12px;
}


.user-table {
  padding: 5px;
  border: 1px solid;
  border-collapse: collapse;

  tbody{
    &.text-center {
      text-align: center;
    }
  }

  th {
    padding: 5px;
    border: 1px solid;
  }

  td {
    height: 50px;
    width: 200px;
    padding: 5px;
    border: 1px solid;
  }
}
