/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  height: 100%;
};

:root{
  --grey-color: gray;
  --white-color: white;
  --red-color: red;
  --blue-color: blue;
  --yellow-color: yellow;
  --pink-color: pink;
  --green-color: green;
}
